<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hd.studyandtest">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hd.recyclerview.ActivityRecyclerViewTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.hd.actionbar.ActivityActionBar"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name="com.hd.cardview.ActivityCardView" />
        <activity android:name="com.hd.gridlayout.ActivityGridLayout" />
        <activity android:name="com.hd.palette.ActivityTestPalette" />
        <activity android:name="com.hd.preference.ActivityPreference" />
        <activity android:name="com.hd.rxjavaandretrofit.ActivityRxjavaTest" />
        <activity android:name="com.hd.navigationview.ActivityNavigationView" />
        <activity android:name="com.hd.supportlibdemo.SubActivity" />
        <activity android:name="com.hd.supportlibdemo.ActivitySupportLibDemo" />
        <activity android:name="com.hd.coordinatorlayout.ActivityCoordinatorLayout" />
        <activity android:name="com.hd.waveview.ActivityWave" />
        <activity android:name="com.hd.getpackageinfo.ActivityGetPackageInfo" />
        <activity android:name="com.hd.annotation.ActivityAnnotation" />
        <activity android:name="com.hd.annotation.ActivityPerson" />
        <activity android:name="com.hd.rxjavaoperator.ActivityRxjavaOperator" />
        <activity android:name="com.hd.jdbc.ActivityJDBC" />
        <activity android:name="com.hd.animator.ActivityAnimator" />
        <activity android:name="com.hd.webview.ActivityWebview" />
        <activity android:name="com.hd.imei.ActivityImei" />
        <activity android:name="com.hd.svg.ActivitySvg" />
        <activity android:name="com.hd.svgpathview.ActivitySvgPathView"></activity>
    </application>

</manifest>